In [4]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [5]:
url = "https://www.officialcharts.com/charts/singles-chart"

In [6]:
response = requests.get(url)
response.status_code

200

In [7]:
soup = BeautifulSoup(response.content, "html.parser")

In [8]:
#soup

In [9]:
soup.select("#main > div > div.grid__cell.unit-2-3--desktop > table > tbody > tr:nth-child(2) > td:nth-child(3) > div > div.title-artist")
#main > article > div > div.grid__cell.unit-2-3--desktop > section > table > tbody > tr:nth-child(2) > td:nth-child(3) > div > div.title-artist

[]

In [10]:
#main > div > span > div > div > div.lister > table > tbody > tr:nth-child(1) > td.titleColumn
#main > div > span > div > div > div.lister > table > tbody > tr:nth-child(1) > td.titleColumn

In [11]:
#soup.select("#main > article > div > div.grid__cell.unit-2-3--desktop > section")

In [12]:
#soup.select("#main > article > div > div.grid__cell.unit-2-3--desktop > section > table > tbody > tr:nth-child(2) > td:nth-child(3)")
#soup.select(".title-artist")

In [13]:
song_soup = soup.select(".title-artist a")

In [14]:
print(soup.select(".title-artist a")[0].get_text())
print(soup.select(".title-artist a")[1].get_text())

AS IT WAS
HARRY STYLES

In [15]:
#(soup.select(".title-artist a")[0]) & (soup.select(".title-artist a")[1])
#song_soup[0][0].find("href", string = "artist").parent.select('tr td a')
#[0].get_text()
len(song_soup)

200

In [16]:
start = 0
end = 200
odds = []
evens = []     
num_iter = len(song_soup)   
title = []
song = []
for num in range(start, end):
    if num % 2 != 0:
        odds.append(num)
        
for num in range(start, end):
      
    # checking condition
    if num % 2 == 0:
        evens.append(num)

for i in odds:
    title.append(soup.select(".title-artist a")[i].get_text())
# print(title)
# len(title)

for i in evens:
    song.append(soup.select(".title-artist a")[i].get_text())
# print(song)
# len(song)

song_artist = pd.DataFrame({"artist":title,"song":song})

# To lowercase columns
# for i in song_artist.columns:
#     i.lower()
# song_artist.columns

In [17]:
print(len(song_artist))
song_artist.head(100)

100

                         artist                 song
0                  HARRY STYLES            AS IT WAS
1                   JACK HARLOW          FIRST CLASS
2                     CAT BURNS                   GO
3                 AITCH/ASHANTI                 BABY
4                          DAVE            STARLIGHT
..                          ...                  ...
95                      WET LEG        CHAISE LONGUE
96                       EMINEM  THE REAL SLIM SHADY
97  PUSHA T/KANYE WEST/KID CUDI          ROCK N ROLL
98            DAVE FT BURNA BOY             LOCATION
99                LEWIS CAPALDI    SOMEONE YOU LOVED

[100 rows x 2 columns]

In [18]:
song_artist = song_artist.applymap(lambda s:s.lower() if type(s) == str else s)
song_artist

                         artist                 song
0                  harry styles            as it was
1                   jack harlow          first class
2                     cat burns                   go
3                 aitch/ashanti                 baby
4                          dave            starlight
..                          ...                  ...
95                      wet leg        chaise longue
96                       eminem  the real slim shady
97  pusha t/kanye west/kid cudi          rock n roll
98            dave ft burna boy             location
99                lewis capaldi    someone you loved

[100 rows x 2 columns]

In [19]:
song_artist.to_csv('song_artist.csv', index=False)